@import 'variables';

.header {
  box-shadow: @shadow;
  * {
    font-weight: 300;
  }

  &-wrapper {
    align-items: center;
    min-height: 73px;

    .wrapper-inner;
    padding-right: 4px;
  }

  &-dropdown-menu {

  }

  &-top-menu {
    flex:1;
    text-align: right;

    &-btn {
      height: 43px;
      width: 145px;
      font-size: 1.1em;
      line-height: 1.1em;
      letter-spacing: .03em;
    }

    &-btn + &-btn {
      margin-left: 8px;
    }

    @media screen and (min-width: 58em) {
      padding-top: 0.2em;
    }
  }
}
