@import 'variables';
@import 'burger.css';

.header {
  box-shadow: @shadow;

  &-hidden-h1 { display: none }

  * {
    font-weight: 300;
  }

  &-wrapper {
    align-items: center;
    min-height: 73px;

    .wrapper-inner;
    padding-right: 4px;
    @media @tablet-other {
      display: block;
    }
  }

  &-logo {
    position: relative;
    top: 1px;
    @media @tablet-other {
      position: static;
      display: block;
      text-align: center;
      width:100%;
      padding-top: 10px;
    }
  }

  &-dropdown-menu {
    padding: 8px 0 0 11px;
    font-size: 1.1em;
    letter-spacing: 0;

    .menu-burger {
      cursor: pointer;
    }

    @media @tablet-other {
      position: fixed;
      left: 32px;
      top: 18px;
    }
  }

  &-top-menu {
    flex:1;
    text-align: right;

    &-btn {
      height: 43px;
      @media @tablet-other {
        width: 100%;
      }

        width: 145px;

      font-size: 1.1em;
      line-height: 1.1em;
      letter-spacing: .03em;
    }

    &-btn + &-btn {
      margin-left: 8px;
      @media @tablet-other {
        margin-top: 10px;
      }
    }

    padding-top: 0.2em;

    @media @tablet-other {
      padding: 11px 0 25px;
      a.pure-button:first-child {
        display: none;
      }
    }
  }
}
