@import 'base.css';
@import "grids-core.css";
@import "buttons-core.css";
@import 'burger.css';
.wrapper-inner {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*15px);
  max-width: 970px;
}
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.625em;
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  text-decoration: none;
  border-radius: 10px;
}
.pure-button:focus {
  outline: 0;
}
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}
.pure-button-hidden {
  display: none;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #00c1ff;
  color: #fff;
}
.pure-button-primary:hover,
.pure-button-selected:hover,
a.pure-button-primary:hover,
a.pure-button-selected:hover {
  text-decoration: none;
  background-image: linear-gradient(#00c1ff, #0056f9);
}
.pure-button-secondary {
  background-color: #00c1ff;
  color: #fff;
}
.pure-button-secondary:hover {
  text-decoration: none;
}
/* Button Groups */
.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid #111;
  /* fallback color for rgba() for IE7/8 */
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.pure-button-group .pure-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pure-button-group .pure-button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
}
.active-element {
  padding: 0.3em 0.5em;
  border: 1px solid #706f6f;
  border-radius: 6px;
}
select,
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 2.3em;
  padding: 0.3em 0.5em;
  border: 1px solid #706f6f;
  border-radius: 6px;
}
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active {
  outline: none;
  border-color: #129fea;
}
textarea {
  padding: 0.3em 0.5em;
  border: 1px solid #706f6f;
  border-radius: 6px;
}
html,
body,
body > div {
  height: 100%;
}
.flexbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}
.content {
  flex-grow: 1;
  box-sizing: content-box;
}
.content-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*15px);
  max-width: 970px;
  max-width: 1000px;
  flex-direction: column;
}
/* --------------------------
 * Element Styles
 * --------------------------
*/
body {
  margin: 0;
  min-width: 320px;
  background-color: #fff;
  color: #3c3c3b;
  line-height: 1.6;
}
body .flexbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  color: #4b4b4b;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
a {
  color: #00c1ff;
  /* block-background-text-normal */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}
aside {
  background: #1f8dd6;
  /* same color as selected state on site menu */
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}
.header {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
.header-hidden-h1 {
  display: none;
}
.header * {
  font-weight: 300;
}
.header-wrapper {
  align-items: center;
  min-height: 73px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*15px);
  max-width: 970px;
  padding-right: 4px;
}
@media screen and (max-width: 58em) {
  .header-wrapper {
    display: block;
  }
}
.header-logo {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 58em) {
  .header-logo {
    position: static;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }
}
.header-dropdown-menu {
  padding: 8px 0 0 11px;
  font-size: 1.1em;
  letter-spacing: 0;
}
.header-dropdown-menu .menu-burger {
  cursor: pointer;
}
@media screen and (max-width: 58em) {
  .header-dropdown-menu {
    position: fixed;
    left: 32px;
    top: 18px;
  }
}
.header-top-menu {
  flex: 1;
  text-align: right;
  padding-top: 0.2em;
}
.header-top-menu-btn {
  height: 43px;
  width: 145px;
  font-size: 1.1em;
  line-height: 1.1em;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 58em) {
  .header-top-menu-btn {
    width: 100%;
  }
}
.header-top-menu-btn + .header-top-menu-btn {
  margin-left: 8px;
}
@media screen and (max-width: 58em) {
  .header-top-menu-btn + .header-top-menu-btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 58em) {
  .header-top-menu {
    padding: 11px 0 25px;
  }
  .header-top-menu a.pure-button:first-child {
    display: none;
  }
}
.footer {
  min-height: 43px;
  padding-top: 0.4em;
  font-size: 0.75em;
  line-height: 1em;
  color: #fff;
  background-color: #3c3c3c;
}
@media screen and (max-width: 576px) {
  .footer {
    min-height: auto;
  }
}
.footer-wrapper {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*15px);
  max-width: 970px;
}
@media screen and (max-width: 576px) {
  .footer-legal {
    order: 1;
    flex: 0 0 50%;
  }
}
.footer-legal:last-child {
  text-align: right;
}
@media screen and (max-width: 576px) {
  .footer-legal:last-child {
    order: 2;
  }
}
.footer-social {
  text-align: center;
  flex: 1;
}
@media screen and (max-width: 576px) {
  .footer-social {
    padding: 30px 0;
    order: 3;
    flex: 0 0 100%;
  }
}
.footer-social-icon {
  display: inline-flex;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  background-image: url('../images/social_links.svg');
  overflow: hidden;
  margin: 2px 4px 0 5px;
}
.footer-social-icon a {
  height: 100%;
  width: 100%;
  text-indent: -40em;
}
.footer-social-icon-tw {
  background-position: 0 0;
}
.footer-social-icon-vk {
  background-position: -37px 0;
}
.footer-social-icon-fb {
  background-position: -74px 0;
}
.footer-social-icon-instagram {
  background-position: -110px 0;
}
.footer p {
  margin: 4px 0;
}
.footer a {
  color: #fff;
}
.content-header {
  text-align: center;
  font-size: 2em;
  margin: 0.55em 0 0.7em;
  letter-spacing: 0;
}
@media screen and (min-width: 48em) {
  .content-header {
    font-size: 2.25em;
  }
}
.content-subheader {
  text-align: center;
  margin: 1.24em 0 15px;
}
.filter {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*15px);
  max-width: 970px;
}
@media screen and (max-width: 768px) {
  .filter {
    flex-wrap: wrap;
  }
}
.filter-item {
  flex: 0 0 25%;
}
@media screen and (max-width: 768px) {
  .filter-item {
    flex: 0 0 33.33%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .filter-item {
    flex: 0 0 100%;
  }
}
.filter-item-select {
  box-sizing: border-box;
  width: calc(100% - 15px);
}
@media screen and (max-width: 576px) {
  .filter-item-select {
    width: 100%;
  }
}
.filter-search {
  flex-grow: 1;
}
.filter-search-input {
  width: calc(100% - (32px + 8px));
}
.filter-search-button {
  outline: none;
  display: inline-block;
  margin-left: 6px;
  text-indent: 32px;
  width: 32px;
  height: 32px;
  line-height: normal;
  background: #fff url('../images/icon-search-25.png') center no-repeat;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}
.toggler-price {
  width: calc(25% - 15px/2);
  align-self: flex-end;
  margin: 15px 15px 0;
}
@media screen and (max-width: 768px) {
  .toggler-price {
    width: calc(100% - 15px*2);
  }
}
.toggler-price-button {
  width: 100%;
  font-size: 0.833em;
  border-radius: 6px;
}
.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.courses-nodata {
  text-align: center;
  line-height: 1.1em;
  padding-bottom: 1.3em;
}
.courses-item {
  margin: 0 15px 55px;
  width: 170px;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  overflow: hidden;
}
.courses-item-promo {
  height: 134px;
}
.courses-item-promo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.courses-item-info {
  padding: 10px 16px;
}
.courses-item-info p {
  padding-left: 0.5em;
}
.courses-item-info-title {
  margin: 0 0 1px;
}
.courses-item-info-title,
.courses-item-info-grade {
  font-size: 0.875em;
  font-weight: normal;
}
.courses-item-info-grade {
  margin: 0;
  position: relative;
  top: -3px;
}
.courses-item-info-genre {
  position: relative;
  top: 1px;
  margin: 0 0 2px;
  font-size: 0.68em;
}
.courses-item-info-link {
  margin: 0 0 -0.5em;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 3em;
}
.courses-item-info-label {
  cursor: default;
  width: 136px;
  padding: 0.1em 0 0.2em;
  font-size: 0.75em;
  line-height: 1.9em;
  border-radius: 6px;
}
.courses-item-info-label:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
/*# sourceMappingURL=index.css.map */