@base-font: Helvetica, Arial, sans-serif;
@segoe-font: "Segoe UI";
@segoe-regular-fname: "Segoe UI";
@segoe-bold-fname: "SegoeUIBold";

@base-bgcolor: #fff;
@footer-bgcolor: #3c3c3c;
@base-color: #3c3c3b;
@footer-color: #fff;

@header-color: rgb(75, 75, 75);

@link-color: #00c1ff;

@shadow: 0 2px rgba(0, 0, 0, 0.2);

@border-radius: 10px;

@btn-color-base: @link-color; // #00c0ff
@btn-color-primary: #0056f9;
